.detail{
    background-color:  rgb(241, 234, 234);
    overflow: hidden;
}

.navegation{
    text-align: center;
    width: 100%;
    padding-left: 500px;
    margin-top: 10px
}

.navegationdos{
    text-decoration: none;
    background-color: white;
    color: black;
    border: 2px solid #000000;
    border-radius: 999px;
    background-color: transparent;
}